
<h2 mat-dialog-title>Actualizeaza</h2>


<mat-dialog-content [formGroup]="form">

 

 

    <mat-form-field>

        <input matInput
                placeholder="Nume"
               formControlName="nume">

    </mat-form-field>

    <mat-form-field>

        <input matInput
                placeholder="Prenume"
               formControlName="prenume">

    </mat-form-field>
    <mat-form-field>

        <input matInput
                placeholder="Judet"
               formControlName="judet">

    </mat-form-field>
    <mat-form-field>

        <input matInput
                placeholder="Oras"
               formControlName="oras">

    </mat-form-field>
    <mat-form-field>

        <input matInput
                placeholder="Strada"
               formControlName="strada">

    </mat-form-field>
   <span>
    <mat-form-field>

        <input matInput
                placeholder="Bl"
               formControlName="bl">

    </mat-form-field>
    <mat-form-field>

        <input matInput
                placeholder="Sc"
               formControlName="sc">

    </mat-form-field>  <mat-form-field>

        <input matInput
                placeholder="Ap"
               formControlName="ap">

    </mat-form-field>
</span>

    <mat-form-field>

        <input matInput
                placeholder="Telefon"
               formControlName="telefon">

    </mat-form-field>
    <mat-form-field>

        <input matInput
                placeholder="Amplasare aparat"
               formControlName="amp_apar">

    </mat-form-field>
    <mat-form-field>

        <input matInput
                placeholder="Detinator"
               formControlName="detinator">

    </mat-form-field>
<!-- 
    <mat-form-field>

        <input matInput [matDatepicker]="myDatepicker"
            formControlName="releasedAt">

        <mat-datepicker-toggle matSuffix
                               [for]="myDatepicker">

        </mat-datepicker-toggle>

        <mat-datepicker #myDatepicker></mat-datepicker>

    </mat-form-field> -->

    <!-- <mat-form-field>

        <textarea matInput placeholder="Description"
            formControlName="longDescription">

        </textarea>

    </mat-form-field> -->


</mat-dialog-content>

<mat-dialog-actions>

    <button class="mat-raised-button"
            (click)="close()">
        Close
    </button>

    <button class="mat-raised-button mat-primary"
            (click)="save()">
        Save
    </button>

</mat-dialog-actions>


