
<h2 mat-dialog-title>Actualizeaza</h2>


<mat-dialog-content [formGroup]="form">

    <mat-form-field>

        <input matInput
                placeholder="Producator"
               formControlName="producator">

    </mat-form-field>

    <mat-form-field>

        <input matInput
                placeholder="Tip"
               formControlName="tip">

    </mat-form-field>

    <mat-form-field>

        <input matInput
                placeholder="Model"
               formControlName="model">

    </mat-form-field>

    <mat-form-field>

        <input matInput
                placeholder="Serie"
               formControlName="serie">

    </mat-form-field>

    <mat-form-field>

        <input matInput
                placeholder="An fabricatie"
               formControlName="an_fab">

    </mat-form-field>


    
    <mat-form-field>

        <input matInput
                placeholder="Putere maxima"
               formControlName="put_maxmin">

    </mat-form-field>

    <mat-form-field>

        <mat-select placeholder="Cu aer"
            formControlName="cu_aer">

            <mat-option value="Aspirat">
                Aspirat</mat-option>
            <mat-option value="Insuflat">
                Insuflat</mat-option>
             

        </mat-select>

    </mat-form-field>

   
    <mat-form-field>

    <mat-select placeholder="Tip Combustibil"
    formControlName="tip_comb">

    <mat-option value="Gazos">
        Gazos</mat-option>
    <mat-option value="Lichid">
        Lichid</mat-option>
    <mat-option value="Solid">
        Solid</mat-option>
        <mat-option value="Electric">
            Electric</mat-option>

</mat-select>
</mat-form-field>

<mat-form-field> 
<mat-select placeholder="Cu alimentare"
formControlName="cu_alim">

<mat-option value="Manuala">
    Manuala</mat-option>
<mat-option value="Automata">
    Automata</mat-option>
 

</mat-select>
</mat-form-field>
 
    <!-- <mat-form-field>

        <input matInput [matDatepicker]="myDatepicker"
            formControlName="releasedAt">

        <mat-datepicker-toggle matSuffix
                               [for]="myDatepicker">

        </mat-datepicker-toggle>

        <mat-datepicker #myDatepicker></mat-datepicker>

    </mat-form-field> -->

    <!-- <mat-form-field>

        <textarea matInput placeholder="Description"
            formControlName="longDescription">

        </textarea>

    </mat-form-field> -->

 
</mat-dialog-content>

<mat-dialog-actions>

    <button class="mat-raised-button"
            (click)="close()">
        Close
    </button>

    <button class="mat-raised-button mat-primary"
            (click)="save()">
        Save
    </button>

</mat-dialog-actions>


