@import '../../../styles/theme';

:host {
  display: block;
}

.tile {
  background-color: mat-color($nga-background, card);

  &:hover {
    @include mat-elevation(4);
    transition: .3s;
  }
}

.tile__content {
  display: block;
  height: 100%;
  width: 100%;
  padding: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
 
.tile__price-tag {
  color: mat-color($nga-foreground, text);
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 20px;
  top: 20px;
}

.tile__price-tag--xs {
  font-size: 14px;
}

.tile__thumbnail {
  background: no-repeat 50% 50%;
  background-size: contain;
  height: 50%;
  width: 50%;
}

.tile__title {
  color: mat-color($nga-foreground, text);
  font-family: 'Abril Fatface', cursive;
  font-size: mat-font-size($nga-typography, headline);
  line-height: mat-line-height($nga-typography, headline);
}

.tile__title--lg {
  font-size: mat-font-size($nga-typography, display-1);
  line-height: mat-line-height($nga-typography, display-1);
}

.tile__title--xs {
  font-size: mat-font-size($nga-typography, title);
  line-height: mat-line-height($nga-typography, title);
}
// .toolbar__icon-button {
//   color: black;
// }


 
.info__title {
    color: mat-color($nga-foreground, text);
    font-family: 'Abril Fatface', cursive;
    font-size: mat-font-size($nga-typography, display-2);
    font-weight: mat-font-weight($nga-typography, display-4);
    line-height: mat-line-height($nga-typography, display-2);
    margin: 0 0 24px;
  }

  .content {
    background-color: mat-color($nga-background, card);
    padding: 16px;

    &:hover {
      @include mat-elevation(4);
      transition: .3s;
    }
    display: block;
    // height: 100%;
    // width: 100%;
    position: relative;
    
  }

  .wrapper {
    background-color: mat-color($nga-background, card);
    padding: 64px 24px;
    height: 100%;
  }
  
  .wrapper--lt-md {
    padding: 32px 16px;
  }
  
  .wrapper--gt-md {
    padding: 128px 24px;
  }
  
  .thumbnail {
    display: block;
    margin: 0 auto;
    max-width: 30vmin;
  }
  
  .info {
    max-width: 400px;
  }
  
  .info__title {
    color: mat-color($nga-foreground, text);
    font-family: 'Abril Fatface', cursive;
    font-size: mat-font-size($nga-typography, display-2);
    font-weight: mat-font-weight($nga-typography, display-4);
    line-height: mat-line-height($nga-typography, display-2);
    margin: 0 0 24px;
  }
  .info__title2 {
    color: mat-color($nga-foreground, text);
    font-family: 'Abril Fatface', cursive;
    font-size: 36px;
    font-weight: mat-font-weight($nga-typography, display-4);
    line-height: mat-line-height($nga-typography, display-2);
    margin: 0 0 24px;
  }
  .info__description {
    color: mat-color($nga-foreground, secondary-text);
    
    font-size: 30px;
    font-weight: mat-font-weight($nga-typography, subheading-2);
    line-height: mat-line-height($nga-typography, subheading-1);
    // border-bottom: solid 1px #ddd;
    padding-bottom: 24px;
  }
  
  .info__bid {
    margin: 24px 0;
  }
  
  .info__bid-value {
    color: mat-color($nga-foreground, text);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 72px;
    line-height: 1em;
  }
  .info__bid-value--lt-md {
    font-size: 48px;
  }
  
  .info__bid-value-decimal {
    color: mat-color($nga-foreground, text);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 36px;
    margin-left: -.1em;
  }
  
  .info__bid-value-decimal--lt-md {
    font-size: 24px;
  }
  
  .info__bid-label {
    color: mat-color($nga-foreground, text);
    // font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 16px;
  }
  button.mat-raised-button {
    border-radius: 0;
 }
  .info__bid-button {
    width: 20%;
    // color: black;
    // margin-right: 46px;
  
  }
  // .toolbar__icon-button {
  //   color: black;
  // }