<h1 class="title">Adauga</h1>

<form class="form" [formGroup]="searchForm" (ngSubmit)="onSearch()">
  <mat-form-field class="form__field">
    <input matInput type="text" placeholder="Nume" formControlName="nume">
    <mat-error>Nume prea scurt.</mat-error>
  </mat-form-field>


  <mat-form-field class="form__field">
    <input matInput type="text" placeholder="Prenume" formControlName="prenume">
    <mat-error>Prenume prea scurt.</mat-error>
  </mat-form-field>

  <mat-form-field class="form__field">
    <input matInput type="text" placeholder="Numar Telefon" formControlName="nrtel">
    <mat-error>Nr Tel prea scurt.</mat-error>
  </mat-form-field>

  <!-- <mat-form-field class="form__field">
    <input matInput type="number" placeholder="Min price" formControlName="minPrice">
    <mat-error>Cannot be less than 0.</mat-error>
  </mat-form-field> -->

  <!-- <mat-form-field class="form__field">
    <input matInput type="number" placeholder="Max price" formControlName="maxPrice" [errorStateMatcher]="matcher">
    <mat-error *ngIf="searchForm.controls['maxPrice'].hasError('min')">Cannot be less than 0.</mat-error>
    <mat-error *ngIf="searchForm.hasError('minLessThanMax')">Should be larger than min price.</mat-error>
  </mat-form-field> -->




  <!-- <mat-form-field class="example-full-width">
    <input type="text"
           placeholder="Alege tip centrala"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> -->
  <mat-form-field class="example-full-width">
    <mat-label>Data urmatoare autorizare</mat-label>
    <input matInput [matDatepicker]="picker"  formControlName="picker"  >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker  #picker   ></mat-datepicker>
  </mat-form-field>

  <div fxLayout="row"   fxLayoutGap="10px" > 
  <!-- <button   class="mat-raised-button"
  (click)="close()">
Close
</button> -->
  <button  class="form__submit"
          color="primary"
          mat-raised-button>Adauga</button>

        </div>          
</form>
