<div class="content">

  <h1 class="info__title">Identificare Utilizator</h1>
     
      <div>
    
      <span class="info__description">Producator </span>
      <span class="info__title2" >{{product.title}}</span> 
      </div> 
    
      <div>
    
        <span class="info__description">Tip </span>
        <span class="info__title2" >{{product.title}}</span> 
        </div> 
         
      <div>
    
        <span class="info__description">Model </span>
        <span class="info__title2" >{{product.title}}</span> 
        </div> 
         
      <div>
    
        <span class="info__description">Serie </span>
        <span class="info__title2" >{{product.title}}</span> 
        </div> 
         
      <div>
    
        <span class="info__description">An Fabricatie </span>
        <span class="info__title2" >{{product.title}}</span> 
        </div> 
       
     <br>
    
      
     
    <button class="info__bid-button"
    mat-raised-button
    color="accent"
    (click)="editProduct(product)">
    Actualizeaza
    </button>
     
     
    </div>
    