<div class="content">

  <h1 class="info__title">Identificare Utilizator</h1>
     
      <div>
    
      <span class="info__description">Nume </span>
      <span class="info__title2" >{{product.utilizator.nume}}</span> 
      </div> 
    
      <div>
    
        <span class="info__description">Prenume </span>
        <span class="info__title2" >{{product.utilizator.prenume}}</span> 
        </div> 
         
      <div>
    
        <span class="info__description">Judet </span>
        <span class="info__title2" >{{product.utilizator.judet}}</span> 
        </div> 
         
      <div>
    
        <span class="info__description">Oras </span>
        <span class="info__title2" >{{product.utilizator.oras}}</span> 
        </div> 
         
      <div>
    
        <span class="info__description">Strada </span>
        <span class="info__title2" >{{product.utilizator.strada}}</span> 
        </div> 


        <div>
    
          <span class="info__description">Bl, Sc, Ap </span>
          <span class="info__title2" >{{product.utilizator.blscap}}</span> 
          </div> 
         
          <div>
    
            <span class="info__description">Telefon </span>
            <span class="info__title2" >{{product.utilizator.telefon}}</span> 
            </div> 
            <div>
    
              <span class="info__description">Amplasare aparat </span>
              <span class="info__title2" >{{product.utilizator.amp_apar}}</span> 
              </div> 
              <div>
    
                <span class="info__description">Detinator </span>
                <span class="info__title2" >{{product.utilizator.detinator}}</span> 
                </div> 
               
             
           
     <br>
    
      
     
     <div fxLayout="row"   fxLayoutGap="10px" >
      <button class="info__bid-button"
      mat-raised-button
      color="accent"
      (click)="editProduct(product)">
      Actualizeaza
      </button>
       
      <button class="info__bid-button"
      mat-raised-button
      color="primary"
      (click)="editProduct(product)">
      Actualizeaza
      </button>
    </div> 
    
    </div>
    