/* Structure */
@import '../../../../styles/theme';

.example-container {
    position: relative;
    min-height: 200px;
    margin: 20px auto 0 auto;
  }
  .info__title {
    padding: 16px;
    color: mat-color($nga-foreground, text);
    font-family: 'Abril Fatface', cursive;
    font-size: mat-font-size($nga-typography, display-2);
    font-weight: mat-font-weight($nga-typography, display-4);
    line-height: mat-line-height($nga-typography, display-2);
    margin: 0 0 2px;
  }

  .example-table-container {
    position: relative;
    // max-height: 400px;
    overflow: auto;
    display: flex;
  align-items: right;
  }
  button.mat-raised-button {
    border-radius: 0;
    margin-right: 16px;

 }
 button.mat-stroked-button {
    border-radius: 0;
    margin-right: 16px;
 }
 button.mat-fab {
    margin-right: 16px;
 }
 
  table {
    width: 100%;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  .mat-column-title {
    min-width: 124px;
    
  }
  .mat-column-actiuni {
    max-width: 124px;
  }
  .mat-header-row, .mat-row {
    align-content:space-around;
} 

table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 10px;
}
 
th.mat-header-cell {
    text-align: left;
    align-content:space-between;
    min-width: 14px;
}