@import '../../styles/theme';

:host {
  display: block;
  height: 100%;
}

.wrapper {
  height: 100%;
}

nga-product-suggestion {
  margin: 16px;
}
nga-product-detail{
  margin: 16px;
}


.tabs {
  background-color: mat-color($nga-background, card);
}
