
<nav class="tabs"
mat-tab-nav-bar>
<a mat-tab-link
*ngFor="let c of categories$ | async"
#rla="routerLinkActive" routerLinkActive
[active]="true"
[routerLink]="['/categories', c]">
{{ c | uppercase }}
</a>
</nav>


<div class="wrapper"

     fxLayout="column"
     fxLayout.gt-md="row-reverse">
 

  <nga-product-detail
      fxFlex="auto"
      fxFlex.gt-md="75%"
      *ngIf="product$ | async as product"
      [product]="product">
  </nga-product-detail>

 <nga-product-suggestion
      fxFlex="auto"
      fxFlex.gt-md="25%"
      [product]="product"
      *ngIf="suggestedProducts$ | async as products"
   
      >
  </nga-product-suggestion>  

 



</div>
